<hr>
<div class="container">
  <footer class="footer">
    <div class="col-md-6">
      <p class="text-muted">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
         with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <b>Vincent Gutiérrez</b> in <b>León, Guanajuato.</b></p>
    </div>
    <div class="col-md-6">
      <span class="pull-right">
        <%= link_to 'https://www.facebook.com/vegg89' do %>
          <%= fa_icon "facebook 1x", 'aria-hidden' => 'true', class: 'text-muted' %>
        <% end %>
        <%= link_to 'https://www.twitter.com/vegg_89' do %>
          <%= fa_icon "twitter 1x", 'aria-hidden' => 'true', class: 'text-muted' %>
        <% end %>
        <%= link_to 'https://www.linkedin.com/in/vegg89' do %>
          <%= fa_icon "linkedin 1x", 'aria-hidden' => 'true', class: 'text-muted' %>
        <% end %>
        <%= link_to 'https://www.github.com/vegg89' do %>
          <%= fa_icon "github-alt 1x", 'aria-hidden' => 'true', class: 'text-muted' %>
        <% end %>
      </span>
    </div>
  </footer>
</div>
